In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts

from sklearn.preprocessing import StandardScaler, MinMaxScaler  
from sklearn.decomposition import PCA

from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import r2_score as r2

from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso        # regularizacion L1
from sklearn.linear_model import Ridge        # regularizacion L2
from sklearn.linear_model import ElasticNet

from sklearn.linear_model import LogisticRegression as LogReg

from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.ensemble import GradientBoostingRegressor as GBR
from xgboost import XGBRegressor as XGBR
from lightgbm import LGBMRegressor as LGBMR
from sklearn.model_selection import GridSearchCV
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK
from catboost import CatBoostRegressor as CTR
from lightgbm import LGBMRegressor as LGBMR
from sklearn.naive_bayes import GaussianNB

In [29]:
def ml1():
    
    models = {'RFR':{'MODEL':RFR(),'PARAM':{'n_estimators': [10, 50, 100, 150, 200, 500],'max_depth': [1, 5, 10, 15, 20],'min_weight_fraction_leaf':[0.0,0.1,0.2]}},
              'XGB':{'MODEL':XGBR(),'PARAM':{'n_estimators': [10, 50, 100, 150, 200, 500],'max_depth': [1, 5, 10, 15, 20],'learning_rate':[0.001,0.002,0.01,0.05] }},
              #'CTR':{'MODEL':CTR(),'PARAM:':{'depth' : [6,8,10],'learning_rate' : [0.01, 0.05, 0.1],'iterations': [30, 50, 100],'subsample' : [0.5, 0.7, 1.0]}},
              #'GaussianNB':{'MODEL':GaussianNB(),'PARAM':{'var_smoothing':[1e-09]}},
              'Lasso':{'MODEL':Lasso(),'PARAM':{'alpha':[0.3,0.5,0.7,0.9,1.0],'max_iter':[800,1000,1200]}},
              'LGBMR': {'MODEL':LGBMR(),'PARAM':{'boosting_type':['gbdt','dart']}}}
    
            
            
                     
    rmse = []
    name = []
    #b = []
    score = []
    dfmodels = pd.DataFrame()
    for m in models:
        x = models[m]["MODEL"]
        p = models[m]["PARAM"]
        y_pred=grid(x,p).predict(X_test)
        #best= grid(x,p).best_params_   
        #sco = grid(x,p).best_score_
        MSE = mse(y_test, y_pred, squared=False)
        #score.append(sco)
        #b.append(best)
        rmse.append(MSE)
        name.append(m)
    dfmodels['Modelo'] = name
    dfmodels['RMSE'] = rmse
    #dfmodels['Best_Parametres'] = b
    #dfmodels['bestsco'] = score                        
    dfmodels.sort_values("RMSE",ascending=True,inplace=True,ignore_index=True)
    print(f'model {dfmodels.Modelo[0]} rmse {dfmodels.RMSE[0]} ')
    return dfmodels

In [4]:
def grid(modelo, param):
    
    g=GridSearchCV(modelo, # modelo de sklearn
                   param,  # dictio de parametros
                   cv=5,   # nÂº de cortes del cross-validation
                   return_train_score=True, # error en entrenamiento para checkear
                   n_jobs=-1  # usa todos los nucleos disponibles
                  )

    g.fit(X_train, y_train)

   

    return g.best_estimator_.fit(X_train, y_train)

In [38]:
salaries=pd.read_csv(r'data/salaries_data.csv')
testeo=pd.read_csv(r'data/testeo.csv')
muestra=pd.read_csv(r'data/muestra.csv')

In [39]:
average = {"US":54132,"FR":41379,"GR":17093,"LU": 75305,"SI":29460,"DE":45485,"IN":4766,"GB":40519,"PK":4379,"MD":6480,"JP":45000,"CA":40000,"AS":52626,"IE":40000,"AE":50000,"MX":20000,"VN":2400,"BE":44300,"KE":7608,"ES":36000,"CH":50000,"CL":27816,"CN":16716,"DK":40000,"RO":8360,"MY":18877,"PR":33000,"HU":17640,"PT": 31200,"BG":22263, "HN": 14000,"TR":8400,"AU": 52338,"UA":10000,"NG":9000,"BR":19000,"NL":50000,"HK":56000,"SG":60000,"IR":6000,"NZ":61000,"RS":16800,"JE":60000,"RU":18000,"EE":22000,"CZ":26000,"AT":45000,"BO":6000,"PL":23000,"IT":38000,"MT":30000,"DZ":7000,"HR":12000,"PH":13000,"IQ":5500,"CO":12000,"AR":20000,"TN":6000,"IL":42000}

In [40]:
jobs = {'Data Scientist':124000,'Data Engineer':111000,'Data Analyst':71599,'Data Architect':160000,'Machine Learning':138000,'Head of Data':170000,'ETL Developer':110000,'Data Specialist':160000,'3D Computer Vision Researcher':90000}

In [ ]:
#https://www.edureka.co/blog/data-analyst-vs-data-engineer-vs-data-scientist/#:~:text=The%20typical%20salary%20of%20a,see%20much%20difference%20at%20first.
#https://www.glassdoor.com/Salaries/data-architect-salary-SRCH_KO0,14.htm

In [41]:
lst3 = []
lst4 = []
for i in jobs.keys():
    lst3.append(i)
    lst4.append(jobs[i])

In [42]:
lst1 = []
lst2 = []
for i in average.keys():
    lst1.append(i)
    lst2.append(average[i])

In [43]:
data1 = {"cc":lst1,"salary":lst2}

In [44]:
data2 = {"job":lst3,"salary":lst4}

In [45]:
salary = pd.DataFrame(data= data1)

In [46]:
salary2= pd.DataFrame(data= data2)

In [47]:
salary2

                             job  salary
0                 Data Scientist  124000
1                  Data Engineer  111000
2                   Data Analyst   71599
3                 Data Architect  160000
4               Machine Learning  138000
5                   Head of Data  170000
6                  ETL Developer  110000
7                Data Specialist  160000
8  3D Computer Vision Researcher   90000

In [85]:
salaries

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
...,...,...,...,...,...,...,...,...,...,...,...
495,2022,SE,FT,Data Engineer,100000,USD,100000,US,100,US,M
496,2021,EN,FT,Big Data Engineer,435000,INR,5882,IN,0,CH,L
497,2022,SE,FT,Data Architect,90700,USD,90700,CA,100,CA,M
498,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
499,2021,EN,FT,Computer Vision Software Engineer,70000,USD,70000,US,100,US,M

In [15]:
for i in salaries.job_title:
    if 'Engineer' in i:
        salaries.job_title.replace({i: 'Data Engineer'}, inplace = True)
    elif 'Analy' in i:
        salaries.job_title.replace({i: 'Data Analyst'}, inplace = True)
    elif 'Architect' in i:
        salaries.job_title.replace({i: 'Data Architect'}, inplace = True)
    elif 'Scien' in i:
        salaries.job_title.replace({i: 'Data Scientist'}, inplace = True)
    elif 'Machine'in i:
        salaries.job_title.replace({i: 'Machine Learning'}, inplace = True)

In [16]:
for i,e in enumerate(salaries.employee_residence):
    f = salary[salary.cc==e].salary
    f = int(f)
    salaries.employee_residence[i]=f

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
for i,e in enumerate(salaries.company_location):
    f = salary[salary.cc==e].salary
    f = int(f)
    salaries.company_location[i]=f

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
for i,e in enumerate(salaries.job_title):
    try:
        f = salary2[salary2.job==e].salary
        f = int(f)
        salaries.job_title[i]=f
    except:
        print(e)

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
numeric1 = ['work_year', 'remote_ratio','employee_residence',"company_location",'job_title']

In [20]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

salaries[numeric1]=scaler.fit_transform(salaries[numeric1])

salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0.857874,SE,FT,0.080224,140250,USD,140250,0.653275,0.697464,0.586726,M
1,0.857874,SE,FT,0.080224,135000,USD,135000,0.653275,0.697464,0.586726,M
2,-0.606075,MI,FT,-1.738256,100000,USD,100000,0.653275,0.697464,0.586726,M
3,-0.606075,MI,CT,0.080224,270000,USD,270000,0.653275,0.697464,0.586726,L
4,-0.606075,MI,FT,0.080224,22000,EUR,26005,-2.260379,-1.775814,0.586726,L

In [21]:
from sklearn.preprocessing import LabelEncoder

for i in list(salaries.select_dtypes(exclude=["int64", 'float64']).columns):
    salaries[i] = LabelEncoder().fit_transform(salaries[i])
    
salaries

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0.857874,3,2,0.080224,140250,14,140250,0.653275,0.697464,0.586726,1
1,0.857874,3,2,0.080224,135000,14,135000,0.653275,0.697464,0.586726,1
2,-0.606075,2,2,-1.738256,100000,14,100000,0.653275,0.697464,0.586726,1
3,-0.606075,2,0,0.080224,270000,14,270000,0.653275,0.697464,0.586726,0
4,-0.606075,2,2,0.080224,22000,5,26005,-2.260379,-1.775814,0.586726,0
...,...,...,...,...,...,...,...,...,...,...,...
495,0.857874,3,2,0.080224,100000,14,100000,0.653275,0.697464,0.586726,1
496,-0.606075,0,2,0.080224,435000,8,5882,-2.489158,-1.775814,0.293828,0
497,0.857874,3,2,2.341728,90700,14,90700,-0.246309,0.697464,-0.415023,1
498,-0.606075,2,2,0.080224,60000,6,82528,-0.213271,0.697464,-0.378233,0
499,-0.606075,0,2,0.080224,70000,14,70000,0.653275,0.697464,0.586726,1

In [22]:
salaries.drop(columns=['salary','salary_currency'],inplace=True)

In [23]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0.857874,3,2,0.080224,140250,0.653275,0.697464,0.586726,1
1,0.857874,3,2,0.080224,135000,0.653275,0.697464,0.586726,1
2,-0.606075,2,2,-1.738256,100000,0.653275,0.697464,0.586726,1
3,-0.606075,2,0,0.080224,270000,0.653275,0.697464,0.586726,0
4,-0.606075,2,2,0.080224,26005,-2.260379,-1.775814,0.586726,0

In [24]:
X = salaries.drop('salary_in_usd', axis=1)

y = salaries.salary_in_usd

X.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,0.857874,3,2,0.080224,0.653275,0.697464,0.586726,1
1,0.857874,3,2,0.080224,0.653275,0.697464,0.586726,1
2,-0.606075,2,2,-1.738256,0.653275,0.697464,0.586726,1
3,-0.606075,2,0,0.080224,0.653275,0.697464,0.586726,0
4,-0.606075,2,2,0.080224,-2.260379,-1.775814,0.586726,0

In [25]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 8), (100, 8), (400,), (100,))

In [28]:
help(LGBMR)

Help on class LGBMRegressor in module lightgbm.sklearn:

class LGBMRegressor(sklearn.base.RegressorMixin, LGBMModel)
 |  LGBMRegressor(boosting_type: str = 'gbdt', num_leaves: int = 31, max_depth: int = -1, learning_rate: float = 0.1, n_estimators: int = 100, subsample_for_bin: int = 200000, objective: Union[str, Callable, NoneType] = None, class_weight: Union[Dict, str, NoneType] = None, min_split_gain: float = 0.0, min_child_weight: float = 0.001, min_child_samples: int = 20, subsample: float = 1.0, subsample_freq: int = 0, colsample_bytree: float = 1.0, reg_alpha: float = 0.0, reg_lambda: float = 0.0, random_state: Union[int, numpy.random.mtrand.RandomState, NoneType] = None, n_jobs: int = -1, silent: Union[bool, str] = 'warn', importance_type: str = 'split', **kwargs)
 |
 |  LightGBM regressor.
 |
 |  Method resolution order:
 |      LGBMRegressor
 |      sklearn.base.RegressorMixin
 |      LGBMModel
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  fit(self, X, y, sample_weight=None, init_score=None, eval_set=None, eval_names=None, eval_sample_weight=None, eval_init_score=None, eval_metric=None, early_stopping_rounds=None, verbose='warn', feature_name='auto', categorical_feature='auto', callbacks=None, init_model=None)
 |      Build a gradient boosting model from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          Input feature matrix.
 |      y : array-like of shape = [n_samples]
 |          The target values (class labels in classification, real numbers in regression).
 |      sample_weight : array-like of shape = [n_samples] or None, optional (default=None)
 |          Weights of training data.
 |      init_score : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task) or shape = [n_samples, n_classes] (for multi-class task) or None, optional (default=None)
 |          Init score of training data.
 |      eval_set : list or None, optional (default=None)
 |          A list of (X, y) tuple pairs to use as validation sets.
 |      eval_names : list of str, or None, optional (default=None)
 |          Names of eval_set.
 |      eval_sample_weight : list of array, or None, optional (default=None)
 |          Weights of eval data.
 |      eval_init_score : list of array, or None, optional (default=None)
 |          Init score of eval data.
 |      eval_metric : str, callable, list or None, optional (default=None)
 |          If str, it should be a built-in evaluation metric to use.
 |          If callable, it should be a custom evaluation metric, see note below for more details.
 |          If list, it can be a list of built-in metrics, a list of custom evaluation metrics, or a mix of both.
 |          In either case, the ``metric`` from the model parameters will be evaluated and used as well.
 |          Default: 'l2' for LGBMRegressor, 'logloss' for LGBMClassifier, 'ndcg' for LGBMRanker.
 |      early_stopping_rounds : int or None, optional (default=None)
 |          Activates early stopping. The model will train until the validation score stops improving.
 |          Validation score needs to improve at least every ``early_stopping_rounds`` round(s)
 |          to continue training.
 |          Requires at least one validation data and one metric.
 |          If there's more than one, will check all of them. But the training data is ignored anyway.
 |          To check only the first metric, set the ``first_metric_only`` parameter to ``True``
 |          in additional parameters ``**kwargs`` of the model constructor.
 |      verbose : bool or int, optional (default=True)
 |          Requires at least one evaluation data.
 |          If True, the eval metric on the eval set is printed at each boosting stage.
 |          If int, the eval metric on the eval set is printed at every ``verbose`` boosting stage.
 |          The last boosting stage or the boosting stage found by using ``early_stopping_rounds`` is also printed.
 |
 |          .. rubric:: Example
 |
 |          With ``verbose`` = 4 and at least one item in ``eval_set``,
 |          an evaluation metric is printed every 4 (instead of 1) boosting stages.
 |
 |      feature_name : list of str, or 'auto', optional (default='auto')
 |          Feature names.
 |          If 'auto' and data is pandas DataFrame, data columns names are used.
 |      categorical_feature : list of str or int, or 'auto', optional (default='auto')
 |          Categorical features.
 |          If list of int, interpreted as indices.
 |          If list of str, interpreted as feature names (need to specify ``feature_name`` as well).
 |          If 'auto' and data is pandas DataFrame, pandas unordered categorical columns are used.
 |          All values in categorical features should be less than int32 max value (2147483647).
 |          Large values could be memory consuming. Consider using consecutive integers starting from zero.
 |          All negative values in categorical features will be treated as missing values.
 |          The output cannot be monotonically constrained with respect to a categorical feature.
 |      callbacks : list of callable, or None, optional (default=None)
 |          List of callback functions that are applied at each iteration.
 |          See Callbacks in Python API for more information.
 |      init_model : str, pathlib.Path, Booster, LGBMModel or None, optional (default=None)
 |          Filename of LightGBM model, Booster instance or LGBMModel instance used for continue training.
 |
 |      Returns
 |      -------
 |      self : object
 |          Returns self.
 |
 |
 |
 |      Note
 |      ----
 |      Custom eval function expects a callable with following signatures:
 |      ``func(y_true, y_pred)``, ``func(y_true, y_pred, weight)`` or
 |      ``func(y_true, y_pred, weight, group)``
 |      and returns (eval_name, eval_result, is_higher_better) or
 |      list of (eval_name, eval_result, is_higher_better):
 |
 |          y_true : array-like of shape = [n_samples]
 |              The target values.
 |          y_pred : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The predicted values.
 |              In case of custom ``objective``, predicted values are returned before any transformation,
 |              e.g. they are raw margin instead of probability of positive class for binary task in this case.
 |          weight : array-like of shape = [n_samples]
 |              The weight of samples.
 |          group : array-like
 |              Group/query data.
 |              Only used in the learning-to-rank task.
 |              sum(group) = n_samples.
 |              For example, if you have a 100-document dataset with ``group = [10, 20, 40, 10, 10, 10]``, that means that you have 6 groups,
 |              where the first 10 records are in the first group, records 11-30 are in the second group, records 31-70 are in the third group, etc.
 |          eval_name : str
 |              The name of evaluation function (without whitespace).
 |          eval_result : float
 |              The eval result.
 |          is_higher_better : bool
 |              Is eval result higher better, e.g. AUC is ``is_higher_better``.
 |
 |      For multi-class task, the y_pred is group by class_id first, then group by row_id.
 |      If you want to get i-th row y_pred in j-th class, the access way is y_pred[j * num_data + i].
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.RegressorMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the coefficient of determination of the prediction.
 |
 |      The coefficient of determination :math:`R^2` is defined as
 |      :math:`(1 - \frac{u}{v})`, where :math:`u` is the residual
 |      sum of squares ``((y_true - y_pred)** 2).sum()`` and :math:`v`
 |      is the total sum of squares ``((y_true - y_true.mean()) ** 2).sum()``.
 |      The best possible score is 1.0 and it can be negative (because the
 |      model can be arbitrarily worse). A constant model that always predicts
 |      the expected value of `y`, disregarding the input features, would get
 |      a :math:`R^2` score of 0.0.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples. For some estimators this may be a precomputed
 |          kernel matrix or a list of generic objects instead with shape
 |          ``(n_samples, n_samples_fitted)``, where ``n_samples_fitted``
 |          is the number of samples used in the fitting for the estimator.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True values for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          :math:`R^2` of ``self.predict(X)`` wrt. `y`.
 |
 |      Notes
 |      -----
 |      The :math:`R^2` score used when calling ``score`` on a regressor uses
 |      ``multioutput='uniform_average'`` from version 0.23 to keep consistent
 |      with default value of :func:`~sklearn.metrics.r2_score`.
 |      This influences the ``score`` method of all the multioutput
 |      regressors (except for
 |      :class:`~sklearn.multioutput.MultiOutputRegressor`).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.RegressorMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from LGBMModel:
 |
 |  __init__(self, boosting_type: str = 'gbdt', num_leaves: int = 31, max_depth: int = -1, learning_rate: float = 0.1, n_estimators: int = 100, subsample_for_bin: int = 200000, objective: Union[str, Callable, NoneType] = None, class_weight: Union[Dict, str, NoneType] = None, min_split_gain: float = 0.0, min_child_weight: float = 0.001, min_child_samples: int = 20, subsample: float = 1.0, subsample_freq: int = 0, colsample_bytree: float = 1.0, reg_alpha: float = 0.0, reg_lambda: float = 0.0, random_state: Union[int, numpy.random.mtrand.RandomState, NoneType] = None, n_jobs: int = -1, silent: Union[bool, str] = 'warn', importance_type: str = 'split', **kwargs)
 |      Construct a gradient boosting model.
 |
 |      Parameters
 |      ----------
 |      boosting_type : str, optional (default='gbdt')
 |          'gbdt', traditional Gradient Boosting Decision Tree.
 |          'dart', Dropouts meet Multiple Additive Regression Trees.
 |          'goss', Gradient-based One-Side Sampling.
 |          'rf', Random Forest.
 |      num_leaves : int, optional (default=31)
 |          Maximum tree leaves for base learners.
 |      max_depth : int, optional (default=-1)
 |          Maximum tree depth for base learners, <=0 means no limit.
 |      learning_rate : float, optional (default=0.1)
 |          Boosting learning rate.
 |          You can use ``callbacks`` parameter of ``fit`` method to shrink/adapt learning rate
 |          in training using ``reset_parameter`` callback.
 |          Note, that this will ignore the ``learning_rate`` argument in training.
 |      n_estimators : int, optional (default=100)
 |          Number of boosted trees to fit.
 |      subsample_for_bin : int, optional (default=200000)
 |          Number of samples for constructing bins.
 |      objective : str, callable or None, optional (default=None)
 |          Specify the learning task and the corresponding learning objective or
 |          a custom objective function to be used (see note below).
 |          Default: 'regression' for LGBMRegressor, 'binary' or 'multiclass' for LGBMClassifier, 'lambdarank' for LGBMRanker.
 |      class_weight : dict, 'balanced' or None, optional (default=None)
 |          Weights associated with classes in the form ``{class_label: weight}``.
 |          Use this parameter only for multi-class classification task;
 |          for binary classification task you may use ``is_unbalance`` or ``scale_pos_weight`` parameters.
 |          Note, that the usage of all these parameters will result in poor estimates of the individual class probabilities.
 |          You may want to consider performing probability calibration
 |          (https://scikit-learn.org/stable/modules/calibration.html) of your model.
 |          The 'balanced' mode uses the values of y to automatically adjust weights
 |          inversely proportional to class frequencies in the input data as ``n_samples / (n_classes * np.bincount(y))``.
 |          If None, all classes are supposed to have weight one.
 |          Note, that these weights will be multiplied with ``sample_weight`` (passed through the ``fit`` method)
 |          if ``sample_weight`` is specified.
 |      min_split_gain : float, optional (default=0.)
 |          Minimum loss reduction required to make a further partition on a leaf node of the tree.
 |      min_child_weight : float, optional (default=1e-3)
 |          Minimum sum of instance weight (hessian) needed in a child (leaf).
 |      min_child_samples : int, optional (default=20)
 |          Minimum number of data needed in a child (leaf).
 |      subsample : float, optional (default=1.)
 |          Subsample ratio of the training instance.
 |      subsample_freq : int, optional (default=0)
 |          Frequency of subsample, <=0 means no enable.
 |      colsample_bytree : float, optional (default=1.)
 |          Subsample ratio of columns when constructing each tree.
 |      reg_alpha : float, optional (default=0.)
 |          L1 regularization term on weights.
 |      reg_lambda : float, optional (default=0.)
 |          L2 regularization term on weights.
 |      random_state : int, RandomState object or None, optional (default=None)
 |          Random number seed.
 |          If int, this number is used to seed the C++ code.
 |          If RandomState object (numpy), a random integer is picked based on its state to seed the C++ code.
 |          If None, default seeds in C++ code are used.
 |      n_jobs : int, optional (default=-1)
 |          Number of parallel threads.
 |      silent : bool, optional (default=True)
 |          Whether to print messages while running boosting.
 |      importance_type : str, optional (default='split')
 |          The type of feature importance to be filled into ``feature_importances_``.
 |          If 'split', result contains numbers of times the feature is used in a model.
 |          If 'gain', result contains total gains of splits which use the feature.
 |      **kwargs
 |          Other parameters for the model.
 |          Check http://lightgbm.readthedocs.io/en/latest/Parameters.html for more parameters.
 |
 |          .. warning::
 |
 |              \*\*kwargs is not supported in sklearn, it may cause unexpected issues.
 |
 |      Note
 |      ----
 |      A custom objective function can be provided for the ``objective`` parameter.
 |      In this case, it should have the signature
 |      ``objective(y_true, y_pred) -> grad, hess`` or
 |      ``objective(y_true, y_pred, group) -> grad, hess``:
 |
 |          y_true : array-like of shape = [n_samples]
 |              The target values.
 |          y_pred : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The predicted values.
 |              Predicted values are returned before any transformation,
 |              e.g. they are raw margin instead of probability of positive class for binary task.
 |          group : array-like
 |              Group/query data.
 |              Only used in the learning-to-rank task.
 |              sum(group) = n_samples.
 |              For example, if you have a 100-document dataset with ``group = [10, 20, 40, 10, 10, 10]``, that means that you have 6 groups,
 |              where the first 10 records are in the first group, records 11-30 are in the second group, records 31-70 are in the third group, etc.
 |          grad : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The value of the first order derivative (gradient) of the loss
 |              with respect to the elements of y_pred for each sample point.
 |          hess : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The value of the second order derivative (Hessian) of the loss
 |              with respect to the elements of y_pred for each sample point.
 |
 |      For multi-class task, the y_pred is group by class_id first, then group by row_id.
 |      If you want to get i-th row y_pred in j-th class, the access way is y_pred[j * num_data + i]
 |      and you should group grad and hess in this way as well.
 |
 |  __sklearn_is_fitted__(self) -> bool
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, optional (default=True)
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  predict(self, X, raw_score=False, start_iteration=0, num_iteration=None, pred_leaf=False, pred_contrib=False, **kwargs)
 |      Return the predicted value for each sample.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          Input features matrix.
 |      raw_score : bool, optional (default=False)
 |          Whether to predict raw scores.
 |      start_iteration : int, optional (default=0)
 |          Start index of the iteration to predict.
 |          If <= 0, starts from the first iteration.
 |      num_iteration : int or None, optional (default=None)
 |          Total number of iterations used in the prediction.
 |          If None, if the best iteration exists and start_iteration <= 0, the best iteration is used;
 |          otherwise, all iterations from ``start_iteration`` are used (no limits).
 |          If <= 0, all iterations from ``start_iteration`` are used (no limits).
 |      pred_leaf : bool, optional (default=False)
 |          Whether to predict leaf index.
 |      pred_contrib : bool, optional (default=False)
 |          Whether to predict feature contributions.
 |
 |          .. note::
 |
 |              If you want to get more explanations for your model's predictions using SHAP values,
 |              like SHAP interaction values,
 |              you can install the shap package (https://github.com/slundberg/shap).
 |              Note that unlike the shap package, with ``pred_contrib`` we return a matrix with an extra
 |              column, where the last column is the expected value.
 |
 |      **kwargs
 |          Other parameters for the prediction.
 |
 |      Returns
 |      -------
 |      predicted_result : array-like of shape = [n_samples] or shape = [n_samples, n_classes]
 |          The predicted values.
 |      X_leaves : array-like of shape = [n_samples, n_trees] or shape = [n_samples, n_trees * n_classes]
 |          If ``pred_leaf=True``, the predicted leaf of every tree for each sample.
 |      X_SHAP_values : array-like of shape = [n_samples, n_features + 1] or shape = [n_samples, (n_features + 1) * n_classes] or list with n_classes length of such objects
 |          If ``pred_contrib=True``, the feature contributions for each sample.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      Parameters
 |      ----------
 |      **params

In [30]:
ml1()

model LGBMR rmse 48768.84005872599

  Modelo          RMSE
0  LGBMR  48768.840059
1    XGB  50030.839128
2    RFR  52267.350184
3  Lasso  53054.785698

In [32]:
lgbmr = LGBMR(boosting_type="dart")

In [33]:
lgbmr.fit(X_train,y_train)

LGBMRegressor(boosting_type='dart')

In [34]:
y_pred=lgbmr.predict(X_test)

In [35]:
MSE = mse(y_test, y_pred, squared=False)

In [36]:
MSE

48479.57419546505

In [37]:
testeo

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L
...,...,...,...,...,...,...,...,...,...,...
102,2022,SE,FT,Data Analyst,170000,USD,US,100,US,M
103,2022,SE,FT,Data Architect,192564,USD,US,100,US,M
104,2022,SE,FT,Data Scientist,230000,USD,US,100,US,M
105,2022,EN,FT,Data Analyst,52000,USD,CA,0,CA,M
106,2022,SE,FT,Data Analyst,129000,USD,US,0,US,M

In [48]:
for i in testeo.job_title:
    if 'Engineer' in i:
        testeo.job_title.replace({i: 'Data Engineer'}, inplace = True)
    elif 'Analy' in i:
        testeo.job_title.replace({i: 'Data Analyst'}, inplace = True)
    elif 'Architect' in i:
        testeo.job_title.replace({i: 'Data Architect'}, inplace = True)
    elif 'Scien' in i:
        testeo.job_title.replace({i: 'Data Scientist'}, inplace = True)
    elif 'Machine'in i:
        testeo.job_title.replace({i: 'Machine Learning'}, inplace = True)

In [49]:
for i,e in enumerate(testeo.employee_residence):
    f = salary[salary.cc==e].salary
    f = int(f)
    testeo.employee_residence[i]=f

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [50]:
for i,e in enumerate(testeo.company_location):
    f = salary[salary.cc==e].salary
    f = int(f)
    testeo.company_location[i]=f

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [51]:
for i,e in enumerate(testeo.job_title):
    try:
        f = salary2[salary2.job==e].salary
        f = int(f)
        testeo.job_title[i]=f
    except:
        print(e)

C:\Users\pabli\anaconda3\envs\clase\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [52]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

testeo[numeric1]=scaler.fit_transform(testeo[numeric1])

testeo.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,-1.873027,SE,FT,0.670805,260000,USD,0.134821,-1.608265,0.074734,S
1,-1.873027,MI,FT,-1.725099,87000,USD,0.717412,0.798509,0.687445,L
2,-1.873027,MI,FT,-1.725099,85000,USD,0.717412,0.798509,0.687445,L
3,-1.873027,MI,FT,0.076413,299000,CNY,-1.669604,-1.608265,-1.822980,M
4,-1.873027,MI,FT,-1.725099,450000,INR,-2.431974,0.798509,-2.624765,L

In [55]:
from sklearn.preprocessing import LabelEncoder

for i in list(testeo.select_dtypes(exclude=["int64", 'float64']).columns):
    testeo[i] = LabelEncoder().fit_transform(testeo[i])
    
testeo.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,-1.873027,3,1,0.670805,260000,11,0.134821,-1.608265,0.074734,2
1,-1.873027,2,1,-1.725099,87000,11,0.717412,0.798509,0.687445,0
2,-1.873027,2,1,-1.725099,85000,11,0.717412,0.798509,0.687445,0
3,-1.873027,2,1,0.076413,299000,2,-1.669604,-1.608265,-1.822980,1
4,-1.873027,2,1,-1.725099,450000,7,-2.431974,0.798509,-2.624765,0

In [56]:
testeo.drop(columns=['salary','salary_currency'],inplace=True)

In [57]:
testeo

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,-1.873027,3,1,0.670805,0.134821,-1.608265,0.074734,2
1,-1.873027,2,1,-1.725099,0.717412,0.798509,0.687445,0
2,-1.873027,2,1,-1.725099,0.717412,0.798509,0.687445,0
3,-1.873027,2,1,0.076413,-1.669604,-1.608265,-1.822980,1
4,-1.873027,2,1,-1.725099,-2.431974,0.798509,-2.624765,0
...,...,...,...,...,...,...,...,...
102,0.872369,3,1,-1.725099,0.717412,0.798509,0.687445,1
103,0.872369,3,1,2.316815,0.717412,0.798509,0.687445,1
104,0.872369,3,1,0.670805,0.717412,0.798509,0.687445,1
105,0.872369,0,1,-1.725099,-0.184162,-1.608265,-0.260741,1
106,0.872369,3,1,-1.725099,0.717412,-1.608265,0.687445,1

In [58]:
lgbmr.fit(X_train, y_train)

LGBMRegressor(boosting_type='dart')

In [59]:
y_pred1 = lgbmr.predict(testeo)

In [60]:
len(y_pred1)

107

In [61]:
testeo['salary_in_usd'] = list(y_pred1)

In [62]:
testeo.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size,salary_in_usd
0,-1.873027,3,1,0.670805,0.134821,-1.608265,0.074734,2,99340.742809
1,-1.873027,2,1,-1.725099,0.717412,0.798509,0.687445,0,141047.299848
2,-1.873027,2,1,-1.725099,0.717412,0.798509,0.687445,0,141047.299848
3,-1.873027,2,1,0.076413,-1.669604,-1.608265,-1.822980,1,24882.542562
4,-1.873027,2,1,-1.725099,-2.431974,0.798509,-2.624765,0,20028.170646

In [63]:
f= list(testeo.columns)[:8]

In [65]:
col = f

tiro2 = testeo.drop(col, axis = 1, inplace = False)
tiro2 = tiro2.reset_index()
tiro2 = tiro2.rename(columns = {'index':'id'})
tiro2.head()

   id  salary_in_usd
0   0   99340.742809
1   1  141047.299848
2   2  141047.299848
3   3   24882.542562
4   4   20028.170646

In [67]:
tiro2.to_csv(r'./tiro2.csv', index=False)

In [68]:
help(LGBMR)

Help on class LGBMRegressor in module lightgbm.sklearn:

class LGBMRegressor(sklearn.base.RegressorMixin, LGBMModel)
 |  LGBMRegressor(boosting_type: str = 'gbdt', num_leaves: int = 31, max_depth: int = -1, learning_rate: float = 0.1, n_estimators: int = 100, subsample_for_bin: int = 200000, objective: Union[str, Callable, NoneType] = None, class_weight: Union[Dict, str, NoneType] = None, min_split_gain: float = 0.0, min_child_weight: float = 0.001, min_child_samples: int = 20, subsample: float = 1.0, subsample_freq: int = 0, colsample_bytree: float = 1.0, reg_alpha: float = 0.0, reg_lambda: float = 0.0, random_state: Union[int, numpy.random.mtrand.RandomState, NoneType] = None, n_jobs: int = -1, silent: Union[bool, str] = 'warn', importance_type: str = 'split', **kwargs)
 |
 |  LightGBM regressor.
 |
 |  Method resolution order:
 |      LGBMRegressor
 |      sklearn.base.RegressorMixin
 |      LGBMModel
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  fit(self, X, y, sample_weight=None, init_score=None, eval_set=None, eval_names=None, eval_sample_weight=None, eval_init_score=None, eval_metric=None, early_stopping_rounds=None, verbose='warn', feature_name='auto', categorical_feature='auto', callbacks=None, init_model=None)
 |      Build a gradient boosting model from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          Input feature matrix.
 |      y : array-like of shape = [n_samples]
 |          The target values (class labels in classification, real numbers in regression).
 |      sample_weight : array-like of shape = [n_samples] or None, optional (default=None)
 |          Weights of training data.
 |      init_score : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task) or shape = [n_samples, n_classes] (for multi-class task) or None, optional (default=None)
 |          Init score of training data.
 |      eval_set : list or None, optional (default=None)
 |          A list of (X, y) tuple pairs to use as validation sets.
 |      eval_names : list of str, or None, optional (default=None)
 |          Names of eval_set.
 |      eval_sample_weight : list of array, or None, optional (default=None)
 |          Weights of eval data.
 |      eval_init_score : list of array, or None, optional (default=None)
 |          Init score of eval data.
 |      eval_metric : str, callable, list or None, optional (default=None)
 |          If str, it should be a built-in evaluation metric to use.
 |          If callable, it should be a custom evaluation metric, see note below for more details.
 |          If list, it can be a list of built-in metrics, a list of custom evaluation metrics, or a mix of both.
 |          In either case, the ``metric`` from the model parameters will be evaluated and used as well.
 |          Default: 'l2' for LGBMRegressor, 'logloss' for LGBMClassifier, 'ndcg' for LGBMRanker.
 |      early_stopping_rounds : int or None, optional (default=None)
 |          Activates early stopping. The model will train until the validation score stops improving.
 |          Validation score needs to improve at least every ``early_stopping_rounds`` round(s)
 |          to continue training.
 |          Requires at least one validation data and one metric.
 |          If there's more than one, will check all of them. But the training data is ignored anyway.
 |          To check only the first metric, set the ``first_metric_only`` parameter to ``True``
 |          in additional parameters ``**kwargs`` of the model constructor.
 |      verbose : bool or int, optional (default=True)
 |          Requires at least one evaluation data.
 |          If True, the eval metric on the eval set is printed at each boosting stage.
 |          If int, the eval metric on the eval set is printed at every ``verbose`` boosting stage.
 |          The last boosting stage or the boosting stage found by using ``early_stopping_rounds`` is also printed.
 |
 |          .. rubric:: Example
 |
 |          With ``verbose`` = 4 and at least one item in ``eval_set``,
 |          an evaluation metric is printed every 4 (instead of 1) boosting stages.
 |
 |      feature_name : list of str, or 'auto', optional (default='auto')
 |          Feature names.
 |          If 'auto' and data is pandas DataFrame, data columns names are used.
 |      categorical_feature : list of str or int, or 'auto', optional (default='auto')
 |          Categorical features.
 |          If list of int, interpreted as indices.
 |          If list of str, interpreted as feature names (need to specify ``feature_name`` as well).
 |          If 'auto' and data is pandas DataFrame, pandas unordered categorical columns are used.
 |          All values in categorical features should be less than int32 max value (2147483647).
 |          Large values could be memory consuming. Consider using consecutive integers starting from zero.
 |          All negative values in categorical features will be treated as missing values.
 |          The output cannot be monotonically constrained with respect to a categorical feature.
 |      callbacks : list of callable, or None, optional (default=None)
 |          List of callback functions that are applied at each iteration.
 |          See Callbacks in Python API for more information.
 |      init_model : str, pathlib.Path, Booster, LGBMModel or None, optional (default=None)
 |          Filename of LightGBM model, Booster instance or LGBMModel instance used for continue training.
 |
 |      Returns
 |      -------
 |      self : object
 |          Returns self.
 |
 |
 |
 |      Note
 |      ----
 |      Custom eval function expects a callable with following signatures:
 |      ``func(y_true, y_pred)``, ``func(y_true, y_pred, weight)`` or
 |      ``func(y_true, y_pred, weight, group)``
 |      and returns (eval_name, eval_result, is_higher_better) or
 |      list of (eval_name, eval_result, is_higher_better):
 |
 |          y_true : array-like of shape = [n_samples]
 |              The target values.
 |          y_pred : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The predicted values.
 |              In case of custom ``objective``, predicted values are returned before any transformation,
 |              e.g. they are raw margin instead of probability of positive class for binary task in this case.
 |          weight : array-like of shape = [n_samples]
 |              The weight of samples.
 |          group : array-like
 |              Group/query data.
 |              Only used in the learning-to-rank task.
 |              sum(group) = n_samples.
 |              For example, if you have a 100-document dataset with ``group = [10, 20, 40, 10, 10, 10]``, that means that you have 6 groups,
 |              where the first 10 records are in the first group, records 11-30 are in the second group, records 31-70 are in the third group, etc.
 |          eval_name : str
 |              The name of evaluation function (without whitespace).
 |          eval_result : float
 |              The eval result.
 |          is_higher_better : bool
 |              Is eval result higher better, e.g. AUC is ``is_higher_better``.
 |
 |      For multi-class task, the y_pred is group by class_id first, then group by row_id.
 |      If you want to get i-th row y_pred in j-th class, the access way is y_pred[j * num_data + i].
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.RegressorMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the coefficient of determination of the prediction.
 |
 |      The coefficient of determination :math:`R^2` is defined as
 |      :math:`(1 - \frac{u}{v})`, where :math:`u` is the residual
 |      sum of squares ``((y_true - y_pred)** 2).sum()`` and :math:`v`
 |      is the total sum of squares ``((y_true - y_true.mean()) ** 2).sum()``.
 |      The best possible score is 1.0 and it can be negative (because the
 |      model can be arbitrarily worse). A constant model that always predicts
 |      the expected value of `y`, disregarding the input features, would get
 |      a :math:`R^2` score of 0.0.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples. For some estimators this may be a precomputed
 |          kernel matrix or a list of generic objects instead with shape
 |          ``(n_samples, n_samples_fitted)``, where ``n_samples_fitted``
 |          is the number of samples used in the fitting for the estimator.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True values for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          :math:`R^2` of ``self.predict(X)`` wrt. `y`.
 |
 |      Notes
 |      -----
 |      The :math:`R^2` score used when calling ``score`` on a regressor uses
 |      ``multioutput='uniform_average'`` from version 0.23 to keep consistent
 |      with default value of :func:`~sklearn.metrics.r2_score`.
 |      This influences the ``score`` method of all the multioutput
 |      regressors (except for
 |      :class:`~sklearn.multioutput.MultiOutputRegressor`).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.RegressorMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from LGBMModel:
 |
 |  __init__(self, boosting_type: str = 'gbdt', num_leaves: int = 31, max_depth: int = -1, learning_rate: float = 0.1, n_estimators: int = 100, subsample_for_bin: int = 200000, objective: Union[str, Callable, NoneType] = None, class_weight: Union[Dict, str, NoneType] = None, min_split_gain: float = 0.0, min_child_weight: float = 0.001, min_child_samples: int = 20, subsample: float = 1.0, subsample_freq: int = 0, colsample_bytree: float = 1.0, reg_alpha: float = 0.0, reg_lambda: float = 0.0, random_state: Union[int, numpy.random.mtrand.RandomState, NoneType] = None, n_jobs: int = -1, silent: Union[bool, str] = 'warn', importance_type: str = 'split', **kwargs)
 |      Construct a gradient boosting model.
 |
 |      Parameters
 |      ----------
 |      boosting_type : str, optional (default='gbdt')
 |          'gbdt', traditional Gradient Boosting Decision Tree.
 |          'dart', Dropouts meet Multiple Additive Regression Trees.
 |          'goss', Gradient-based One-Side Sampling.
 |          'rf', Random Forest.
 |      num_leaves : int, optional (default=31)
 |          Maximum tree leaves for base learners.
 |      max_depth : int, optional (default=-1)
 |          Maximum tree depth for base learners, <=0 means no limit.
 |      learning_rate : float, optional (default=0.1)
 |          Boosting learning rate.
 |          You can use ``callbacks`` parameter of ``fit`` method to shrink/adapt learning rate
 |          in training using ``reset_parameter`` callback.
 |          Note, that this will ignore the ``learning_rate`` argument in training.
 |      n_estimators : int, optional (default=100)
 |          Number of boosted trees to fit.
 |      subsample_for_bin : int, optional (default=200000)
 |          Number of samples for constructing bins.
 |      objective : str, callable or None, optional (default=None)
 |          Specify the learning task and the corresponding learning objective or
 |          a custom objective function to be used (see note below).
 |          Default: 'regression' for LGBMRegressor, 'binary' or 'multiclass' for LGBMClassifier, 'lambdarank' for LGBMRanker.
 |      class_weight : dict, 'balanced' or None, optional (default=None)
 |          Weights associated with classes in the form ``{class_label: weight}``.
 |          Use this parameter only for multi-class classification task;
 |          for binary classification task you may use ``is_unbalance`` or ``scale_pos_weight`` parameters.
 |          Note, that the usage of all these parameters will result in poor estimates of the individual class probabilities.
 |          You may want to consider performing probability calibration
 |          (https://scikit-learn.org/stable/modules/calibration.html) of your model.
 |          The 'balanced' mode uses the values of y to automatically adjust weights
 |          inversely proportional to class frequencies in the input data as ``n_samples / (n_classes * np.bincount(y))``.
 |          If None, all classes are supposed to have weight one.
 |          Note, that these weights will be multiplied with ``sample_weight`` (passed through the ``fit`` method)
 |          if ``sample_weight`` is specified.
 |      min_split_gain : float, optional (default=0.)
 |          Minimum loss reduction required to make a further partition on a leaf node of the tree.
 |      min_child_weight : float, optional (default=1e-3)
 |          Minimum sum of instance weight (hessian) needed in a child (leaf).
 |      min_child_samples : int, optional (default=20)
 |          Minimum number of data needed in a child (leaf).
 |      subsample : float, optional (default=1.)
 |          Subsample ratio of the training instance.
 |      subsample_freq : int, optional (default=0)
 |          Frequency of subsample, <=0 means no enable.
 |      colsample_bytree : float, optional (default=1.)
 |          Subsample ratio of columns when constructing each tree.
 |      reg_alpha : float, optional (default=0.)
 |          L1 regularization term on weights.
 |      reg_lambda : float, optional (default=0.)
 |          L2 regularization term on weights.
 |      random_state : int, RandomState object or None, optional (default=None)
 |          Random number seed.
 |          If int, this number is used to seed the C++ code.
 |          If RandomState object (numpy), a random integer is picked based on its state to seed the C++ code.
 |          If None, default seeds in C++ code are used.
 |      n_jobs : int, optional (default=-1)
 |          Number of parallel threads.
 |      silent : bool, optional (default=True)
 |          Whether to print messages while running boosting.
 |      importance_type : str, optional (default='split')
 |          The type of feature importance to be filled into ``feature_importances_``.
 |          If 'split', result contains numbers of times the feature is used in a model.
 |          If 'gain', result contains total gains of splits which use the feature.
 |      **kwargs
 |          Other parameters for the model.
 |          Check http://lightgbm.readthedocs.io/en/latest/Parameters.html for more parameters.
 |
 |          .. warning::
 |
 |              \*\*kwargs is not supported in sklearn, it may cause unexpected issues.
 |
 |      Note
 |      ----
 |      A custom objective function can be provided for the ``objective`` parameter.
 |      In this case, it should have the signature
 |      ``objective(y_true, y_pred) -> grad, hess`` or
 |      ``objective(y_true, y_pred, group) -> grad, hess``:
 |
 |          y_true : array-like of shape = [n_samples]
 |              The target values.
 |          y_pred : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The predicted values.
 |              Predicted values are returned before any transformation,
 |              e.g. they are raw margin instead of probability of positive class for binary task.
 |          group : array-like
 |              Group/query data.
 |              Only used in the learning-to-rank task.
 |              sum(group) = n_samples.
 |              For example, if you have a 100-document dataset with ``group = [10, 20, 40, 10, 10, 10]``, that means that you have 6 groups,
 |              where the first 10 records are in the first group, records 11-30 are in the second group, records 31-70 are in the third group, etc.
 |          grad : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The value of the first order derivative (gradient) of the loss
 |              with respect to the elements of y_pred for each sample point.
 |          hess : array-like of shape = [n_samples] or shape = [n_samples * n_classes] (for multi-class task)
 |              The value of the second order derivative (Hessian) of the loss
 |              with respect to the elements of y_pred for each sample point.
 |
 |      For multi-class task, the y_pred is group by class_id first, then group by row_id.
 |      If you want to get i-th row y_pred in j-th class, the access way is y_pred[j * num_data + i]
 |      and you should group grad and hess in this way as well.
 |
 |  __sklearn_is_fitted__(self) -> bool
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, optional (default=True)
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  predict(self, X, raw_score=False, start_iteration=0, num_iteration=None, pred_leaf=False, pred_contrib=False, **kwargs)
 |      Return the predicted value for each sample.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix of shape = [n_samples, n_features]
 |          Input features matrix.
 |      raw_score : bool, optional (default=False)
 |          Whether to predict raw scores.
 |      start_iteration : int, optional (default=0)
 |          Start index of the iteration to predict.
 |          If <= 0, starts from the first iteration.
 |      num_iteration : int or None, optional (default=None)
 |          Total number of iterations used in the prediction.
 |          If None, if the best iteration exists and start_iteration <= 0, the best iteration is used;
 |          otherwise, all iterations from ``start_iteration`` are used (no limits).
 |          If <= 0, all iterations from ``start_iteration`` are used (no limits).
 |      pred_leaf : bool, optional (default=False)
 |          Whether to predict leaf index.
 |      pred_contrib : bool, optional (default=False)
 |          Whether to predict feature contributions.
 |
 |          .. note::
 |
 |              If you want to get more explanations for your model's predictions using SHAP values,
 |              like SHAP interaction values,
 |              you can install the shap package (https://github.com/slundberg/shap).
 |              Note that unlike the shap package, with ``pred_contrib`` we return a matrix with an extra
 |              column, where the last column is the expected value.
 |
 |      **kwargs
 |          Other parameters for the prediction.
 |
 |      Returns
 |      -------
 |      predicted_result : array-like of shape = [n_samples] or shape = [n_samples, n_classes]
 |          The predicted values.
 |      X_leaves : array-like of shape = [n_samples, n_trees] or shape = [n_samples, n_trees * n_classes]
 |          If ``pred_leaf=True``, the predicted leaf of every tree for each sample.
 |      X_SHAP_values : array-like of shape = [n_samples, n_features + 1] or shape = [n_samples, (n_features + 1) * n_classes] or list with n_classes length of such objects
 |          If ``pred_contrib=True``, the feature contributions for each sample.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      Parameters
 |      ----------
 |      **params