In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/salaries_data.csv')

In [3]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L
...,...,...,...,...,...,...,...,...,...,...,...
495,2022,SE,FT,Data Engineer,100000,USD,100000,US,100,US,M
496,2021,EN,FT,Big Data Engineer,435000,INR,5882,IN,0,CH,L
497,2022,SE,FT,Data Architect,90700,USD,90700,CA,100,CA,M
498,2021,MI,FT,Data Engineer,60000,GBP,82528,GB,100,GB,L
499,2021,EN,FT,Computer Vision Software Engineer,70000,USD,70000,US,100,US,M

In [4]:
#columna salary y salary_currency se eliminan al estar en la de salary in usd 

df.drop(columns=['salary','salary_currency'], inplace=True)

df

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,26005,RO,0,US,L
...,...,...,...,...,...,...,...,...,...
495,2022,SE,FT,Data Engineer,100000,US,100,US,M
496,2021,EN,FT,Big Data Engineer,5882,IN,0,CH,L
497,2022,SE,FT,Data Architect,90700,CA,100,CA,M
498,2021,MI,FT,Data Engineer,82528,GB,100,GB,L
499,2021,EN,FT,Computer Vision Software Engineer,70000,US,100,US,M

In [5]:
# Se investigan las categorías de las columnas categóricas

print(df.experience_level.value_counts())  #Cuatro categorias

print(df.employment_type.value_counts())   #Cuatro categorias

print(df.employee_residence.value_counts())  #Demasiadas, las dejaremos en ocho + other

print(df.company_location.value_counts())  #Demasiadas, las dejaremos en ocho + other

print(df.company_size.value_counts())   #Tres categorías

print(df.job_title.value_counts())   #Demasiadas, las dejaremos en seis + other

SE    243
MI    172
EN     65
EX     20
Name: experience_level, dtype: int64
FT    484
PT      8
CT      4
FL      4
Name: employment_type, dtype: int64
US    278
GB     38
IN     25
CA     24
DE     19
FR     14
ES     13
GR     11
PK      6
PT      6
BR      5
NL      4
JP      4
VN      3
PL      3
AT      3
TR      3
AE      3
RO      2
BE      2
NG      2
AU      2
RU      2
IT      2
SI      2
MY      1
BO      1
HN      1
IE      1
MT      1
HU      1
RS      1
MD      1
IR      1
LU      1
DZ      1
MX      1
PR      1
CZ      1
EE      1
HK      1
BG      1
UA      1
NZ      1
JE      1
CL      1
CH      1
KE      1
SG      1
Name: employee_residence, dtype: int64
US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64
M    273
L    165
S     62
Name: company_size, dtype: int64
Data Scientist                              121
Data Engineer                               111
Data Analyst                                 81
Machine Learning Engineer                    31
Research Scientist                           12
Data Science Manager                         12
Data Architect                                8
Machine Learning Scientist                    7
Data Analytics Manager                        7
Big Data Engineer                             7
Director of Data Science                      7
ML Engineer                                   6
Lead Data Engineer                            6
Principal Data Scientist                      6
Applied Data Scientist                        5
Data Engineering Manager                      5
Data Science Consultant                       5
AI Scientist                                  5
BI Data Analyst                               5
Head of Data                                  4
Business Data Analyst                         4
Computer Vision Engineer                      4
Analytics Engineer                            3
Lead Data Scientist                           3
Applied Machine Learning Scientist            3
Cloud Data Engineer                           2
Machine Learning Infrastructure Engineer      2
Lead Data Analyst                             2
Data Analytics Engineer                       2
Director of Data Engineering                  2
ETL Developer                                 2
Head of Data Science                          2
Machine Learning Developer                    2
Data Science Engineer                         2
Machine Learning Manager                      1
Staff Data Scientist                          1
Head of Machine Learning                      1
Finance Data Analyst                          1
Financial Data Analyst                        1
Data Analytics Lead                           1
3D Computer Vision Researcher                 1
Principal Data Analyst                        1
Product Data Analyst                          1
Big Data Architect                            1
Data Specialist                               1
Lead Machine Learning Engineer                1
Marketing Data Analyst                        1
Computer Vision Software Engineer             1
Name: job_title, dtype: int64

In [6]:
coun=['US','GB','CA','DE','IN','FR','ES','GR']

lst=[]

for i in df.employee_residence:
    if i in coun:
        lst.append(i)
    else:
        lst.append('OTHER')
        
df.employee_residence=lst

In [7]:
coun=['US','GB','CA','DE','IN','FR','ES','GR']

lst=[]

for i in df.company_location:
    if i in coun:
        lst.append(i)
    else:
        lst.append('OTHER')
        
df.company_location=lst

In [8]:
(df.company_location==df.employee_residence).value_counts()

#Hay 36 empleos cuya localización no es la misma que la residencia del empleado, es decir, trabaja en remoto

True     464
False     36
dtype: int64

In [9]:
coun=['Data Scientist','Data Analyst','Machine Learning Engineer','Research Scientist','Data Science Manager',]

lst=[]

for i in df.job_title:
    if i in coun:
        lst.append(i)
    else:
        lst.append('Other')
        
df.job_title=lst

In [10]:
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Other,140250,US,100,US,M
1,2022,SE,FT,Other,135000,US,100,US,M
2,2021,MI,FT,Other,100000,US,100,US,M
3,2021,MI,CT,Other,270000,US,100,US,L
4,2021,MI,FT,Other,26005,OTHER,0,US,L

In [11]:
# Se investigan los datos de las columnas numéricas restantes

print(df.work_year.value_counts())  #Tres categorias

print(df.remote_ratio.value_counts())   #Tres categorias

2022    263
2021    181
2020     56
Name: work_year, dtype: int64
100    320
0      102
50      78
Name: remote_ratio, dtype: int64

In [12]:
#Se modifican las variables categóricas a numéricas con get_dummies


X=pd.get_dummies(df, columns=['experience_level', 'employment_type', 'job_title', 'employee_residence', 'company_location', 'company_size'], drop_first=False)

In [13]:
X.corr()

,work_year,salary_in_usd,remote_ratio,experience_level_EN,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_CT,employment_type_FL,employment_type_FT,...,company_location_ES,company_location_FR,company_location_GB,company_location_GR,company_location_IN,company_location_OTHER,company_location_US,company_size_L,company_size_M,company_size_S
work_year,1.000000,0.170159,0.096848,-0.269106,0.010758,-0.155369,0.324526,-0.087294,-0.054427,0.110195,...,-0.037649,-0.133301,0.032292,0.059813,-0.135770,-0.210259,0.264847,-0.363082,0.540898,-0.299096
salary_in_usd,0.170159,1.000000,0.146204,-0.294633,0.243862,-0.235450,0.326423,0.141726,-0.083930,0.072634,...,-0.137606,-0.108755,-0.148768,-0.124114,-0.233643,-0.315662,0.552476,0.081087,0.044300,-0.182608
remote_ratio,0.096848,0.146204,1.000000,-0.009855,0.041398,-0.119707,0.104176,0.062634,-0.020656,-0.028443,...,0.077051,-0.084549,-0.152130,0.011306,-0.107160,-0.112805,0.216115,-0.094363,0.084311,0.007264
experience_level_EN,-0.269106,-0.294633,-0.009855,1.000000,-0.078905,-0.279923,-0.375879,0.032043,-0.034714,-0.132456,...,-0.021760,0.133668,-0.007153,-0.055222,0.140902,0.125226,-0.187318,0.006956,-0.137244,0.197403
experience_level_EX,0.010758,0.243862,0.041398,-0.078905,1.000000,-0.147816,-0.198486,0.096237,-0.018331,-0.020876,...,0.034677,-0.032009,-0.061007,-0.029161,0.012811,-0.045831,0.024090,0.052093,-0.039359,-0.014864
experience_level_MI,-0.155369,-0.235450,-0.119707,-0.279923,-0.147816,1.000000,-0.704148,-0.017770,0.076751,-0.035786,...,0.134022,-0.003521,0.151855,0.167204,0.010217,0.136327,-0.246923,0.145409,-0.143011,0.008584
experience_level_SE,0.324526,0.326423,0.104176,-0.375879,-0.198486,-0.704148,1.000000,-0.042403,-0.042403,0.131324,...,-0.126336,-0.074045,-0.115600,-0.110329,-0.109543,-0.195864,0.351285,-0.163309,0.243705,-0.135158
employment_type_CT,-0.087294,0.141726,0.062634,0.032043,0.096237,-0.017770,-0.042403,1.000000,-0.008065,-0.493915,...,-0.014082,-0.014082,-0.026840,-0.012829,-0.017848,-0.033787,0.074552,0.032467,-0.053390,0.034332
employment_type_FL,-0.054427,-0.083930,-0.020656,-0.034714,-0.018331,0.076751,-0.042403,-0.008065,1.000000,-0.493915,...,-0.014082,-0.014082,-0.026840,-0.012829,-0.017848,0.034332,0.028871,-0.015279,-0.008297,0.034332
employment_type_FT,0.110195,0.072634,-0.028443,-0.132456,-0.020876,-0.035786,0.131324,-0.493915,-0.493915,1.000000,...,-0.045737,0.028511,0.054340,0.025974,-0.023298,-0.035031,0.010914,0.006767,0.039623,-0.069510
employment_type_PT,-0.053949,-0.142915,0.010092,0.187688,-0.026029,0.008321,-0.123994,-0.011451,-0.011451,-0.701334,...,0.084150,-0.019996,-0.038111,-0.018216,0.058023,0.048749,-0.088736,-0.021695,-0.011781,0.048749
job_title_Data Analyst,0.178526,-0.131767,0.078431,0.007586,-0.062049,-0.078433,0.093770,-0.039484,-0.039484,0.049100,...,0.037453,-0.033481,-0.052270,0.053506,-0.058995,-0.132483,0.122023,-0.204675,0.226489,-0.050134
job_title_Data Science Manager,-0.018518,0.102218,0.044731,-0.060617,-0.032009,-0.058538,0.108975,-0.014082,-0.014082,0.028511,...,-0.024590,0.060792,-0.046867,-0.022402,0.037181,-0.058998,0.077003,0.056694,-0.014488,-0.058998
job_title_Data Scientist,0.006194,-0.017986,-0.114085,0.017634,-0.115337,0.072507,-0.035560,-0.050741,0.001677,0.049668,...,0.002929,0.094462,-0.015692,-0.080719,0.058665,-0.042562,0.012998,-0.019167,0.018139,-0.000057
job_title_Machine Learning Engineer,0.002015,0.016957,0.004964,0.023921,-0.052479,-0.046509,0.048685,-0.023088,-0.023088,0.046745,...,0.013872,-0.040316,-0.016383,-0.036728,0.035655,0.129743,-0.056565,0.031218,-0.098712,0.104579
job_title_Other,-0.097256,0.082073,0.054691,-0.030818,0.189502,0.020284,-0.072841,0.092353,0.047434,-0.118774,...,-0.021753,-0.100190,0.074004,0.061167,-0.025827,0.046963,-0.055823,0.109015,-0.101896,-0.001603
job_title_Research Scientist,-0.114171,-0.029409,-0.100709,0.055954,-0.032009,0.051496,-0.074045,-0.014082,-0.014082,0.028511,...,-0.024590,0.146175,0.000762,-0.022402,-0.031166,0.139249,-0.135712,0.084485,-0.093228,0.020300
employee_residence_CA,0.055663,-0.049133,0.040912,-0.031159,0.049655,-0.044432,0.043728,-0.020165,0.084860,-0.012333,...,-0.035211,-0.035211,-0.067110,-0.032078,-0.044628,-0.084481,-0.251442,0.001592,0.016837,-0.027706
employee_residence_DE,-0.166397,-0.061849,-0.107160,0.078694,0.066192,-0.011803,-0.067685,-0.017848,-0.017848,-0.082733,...,-0.031166,-0.031166,-0.059400,-0.028393,-0.039501,-0.074776,-0.239406,0.082978,-0.112908,0.052178
employee_residence_ES,-0.043826,-0.141920,0.067328,-0.025786,0.030785,0.146252,-0.133725,-0.014672,-0.014672,-0.041703,...,0.959784,-0.025621,-0.048831,-0.023340,-0.032472,-0.023337,-0.196806,-0.034479,0.048012,-0.023337
employee_residence_FR,-0.138362,-0.131809,-0.076519,0.114634,-0.034645,0.030216,-0.092270,-0.015242,-0.015242,0.030859,...,-0.026615,0.844710,-0.050726,-0.024246,-0.033733,-0.027073,-0.179777,-0.041768,-0.015681,0.083278
employee_residence_GB,0.058205,-0.144658,-0.163966,0.001347,-0.058542,0.173619,-0.142970,-0.025755,-0.025755,0.052144,...,-0.044973,-0.044973,0.932081,-0.040971,-0.057000,-0.107902,-0.345463,-0.024718,0.064455,-0.062103
employee_residence_GR,0.048824,-0.123232,0.020301,-0.057977,-0.030615,0.149712,-0.091280,-0.013469,-0.013469,0.027270,...,-0.023519,-0.023519,-0.044826,0.952489,-0.029809,-0.015059,-0.180664,-0.047265,0.054607,-0.015059
employee_residence_IN,-0.139043,-0.237200,-0.089651,0.156899,0.046829,0.007727,-0.131277,-0.020602,-0.020602,-0.010428,...,-0.035975,-0.035975,-0.068566,-0.032774,0.866325,-0.030628,-0.201658,0.112216,-0.141000,0.052902
employee_residence_OTHER,-0.228289,-0.330357,-0.061400,0.112432,-0.059630,0.129581,-0.175433,-0.038608,0.147008,-0.141053,...,-0.067417,-0.067417,-0.048134,-0.061418,-0.085447,0.791501,-0.360859,0.073380,-0.238993,0.256342
employee_residence_US,0.282316,0.593004,0.193102,-0.181216,0.018077,-0.268038,0.369605,0.080250,-0.100493,0.111977,...,-0.175480,-0.149179,-0.334450,-0.159863,-0.222408,-0.421022,0.912618,-0.083381,0.211922,-0.201180
company_location_CA,0.035600,-0.039451,0.035179,-0.034108,0.046829,-0.050226,0.052327,-0.020602,-0.020602,0.041712,...,-0.035975,-0.035975,-0.068566,-0.032774,-0.045596,-0.086314,-0.276347,0.034153,-0.011980,-0.030628
company_location_DE,-0.161039,-0.087441,-0.071169,0.113839,0.052618,0.001769,-0.098910,-0.019719,-0.019719,-0.068566,...,-0.034434,-0.034434,-0.065628,-0.031369,-0.043642,-0.082616,-0.264506,0.069237,-0.106579,0.062223
company_location_ES,-0.037649,-0.137606,0.077051,-0.021760,0.034677,0.134022,-0.126336,-0.014082,-0.014082,-0.045737,...,1.000000,-0.024590,-0.046867,-0.022402,-0.031166,-0.058998,-0.188891,-0.026679,0.038005,-0.019349
company_location_FR,-0.133301,-0.108755,-0.084549,0.133668,-0.032009,-0.003521,-0.074045,-0.014082,-0.014082,0.028511,...,-0.024590,1.000000,-0.046867,-0.022402,-0.031166,-0.058998,-0.188891,0.001112,-0.014488,0.020300
company_location_GB,0.032292,-0.148768,-0.152130,-0.007153,-0.061007,0.151855,-0.115600,-0.026840,-0.026840,0.054340,...,-0.046867,-0.046867,1.000000,-0.042696,-0.059400,-0.112446,-0.360011,-0.054725,0.052913,-0.001858
company_location_GR,0.059813,-0.124114,0.011306,-0.055222,-0.029161,0.167204,-0.110329,-0.012829,-0.012829,0.025974,...,-0.022402,-0.022402,-0.042696,1.000000,-0.028393,-0.053748,-0.172081,-0.069877,0.072881,-0.010403
company_location_IN,-0.135770,-0.233643,-0.107160,0.140902,0.012811,0.010217,-0.109543,-0.017848,-0.017848,-0.023298,...,-0.031166,-0.031166,-0.059400,-0.028393,1.000000,-0.074776,-0.239406,0.082978,-0.091898,0.020440
company_location_OTHER,-0.210259,-0.315662,-0.112805,0.125226,-0.045831,0.136327,-0.195864,-0.033787,0.034332,-0.035031,...,-0.058998,-0.058998,-0.112446,-0.053748,-0.074776,1.000000,-0.453200,0.123118,-0.229774,0.171454
company_location_US,0.264847,0.552476,0.216115,-0.187318,0.024090,-0.246923,0.351285,0.074552,0.028871,0.010914,...,-0.188891,-0.188891,-0.360011,-0.172081,-0.239406,-0.453200,1.000000,-0.101085,0.182958,-0.132167
company_size_L,-0.363082,0.081087,-0.094363,0.006956,0.052093,0.145409,-0.163309,0.032467,-0.015279,0.006767,...,-0.026679,0.001112,-0.054725,-0.069877,0.082978,0.123118,-0.101085,1.000000,-0.769641,-0.264045
company_size_M,0.540898,0.044300,0.084311,-0.137244,-0.039359,-0.143011,0.243705,-0.053390,-0.008297,0.039623,...,0.038005,-0.014488,0.052913,0.072881,-0.091898,-0.229774,0.182958,-0.769641,1.000000,-0.412598
company_size_S,-0.299096,-0.182608,0.007264,0.197403,-0.014864,0.008584,-0.135158,0.034332,0.034332,-0.069510,...,-0.019349,0.020300,-0.001858,-0.010403,0.020440,0.171454,-0.132167,-0.264045,-0.412598,1.000000

In [14]:
df1=df

In [15]:
lst=[]

for i in df1.company_location:
    if i == 'US':
        lst.append(i)
    else:
        lst.append('NOT US')
        
df1.company_location=lst

lst=[]

for i in df1.employee_residence:
    if i == 'US':
        lst.append(i)
    else:
        lst.append('NOT US')
        
df1.employee_residence=lst

lst=[]

for i in df1.employment_type:
    if i == 'FT':
        lst.append(i)
    else:
        lst.append('NOT FT')
        
df1.employment_type=lst

In [16]:
Z=pd.get_dummies(df1, columns=['experience_level', 'job_title', 'employee_residence', 'company_location', 'company_size', 'employment_type'], drop_first=False)

In [17]:
Z.shape

(500, 22)

In [18]:
Z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   work_year                            500 non-null    int64
 1   salary_in_usd                        500 non-null    int64
 2   remote_ratio                         500 non-null    int64
 3   experience_level_EN                  500 non-null    uint8
 4   experience_level_EX                  500 non-null    uint8
 5   experience_level_MI                  500 non-null    uint8
 6   experience_level_SE                  500 non-null    uint8
 7   job_title_Data Analyst               500 non-null    uint8
 8   job_title_Data Science Manager       500 non-null    uint8
 9   job_title_Data Scientist             500 non-null    uint8
 10  job_title_Machine Learning Engineer  500 non-null    uint8
 11  job_title_Other                      500 non-null    uint8
 12  job_title_Research Scientist         500 non-null    uint8
 13  employee_residence_NOT US            500 non-null    uint8
 14  employee_residence_US                500 non-null    uint8
 15  company_location_NOT US              500 non-null    uint8
 16  company_location_US                  500 non-null    uint8
 17  company_size_L                       500 non-null    uint8
 18  company_size_M                       500 non-null    uint8
 19  company_size_S                       500 non-null    uint8
 20  employment_type_FT                   500 non-null    uint8
 21  employment_type_NOT FT               500 non-null    uint8
dtypes: int64(3), uint8(19)
memory usage: 21.1 KB

## Modelo

In [19]:
from sklearn.model_selection import train_test_split as tts

In [21]:
y

(107, 10)

In [20]:
X=Z.drop(columns='salary_in_usd')
y=pd.read_csv('data/testeo.csv')

X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2)

ValueError: Found input variables with inconsistent numbers of samples: [500, 107]

### Random forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.metrics import mean_squared_error as mse

rfr=RFR()

rfr.fit(X_train, y_train)

y_pred=rfr.predict(X_test)

mse(y_test, y_pred, squared=False)

### Otros modelos

In [ ]:
from sklearn.tree import ExtraTreeRegressor as ETR
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso     
from sklearn.linear_model import Ridge        
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from lightgbm import LGBMRegressor as LGBMR


etr=ETR()
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()
svr=SVR()
lgbmr=LGBMR()


modelos=[etr,linreg,lasso,ridge,elastic,svr,lgbmr]

for m in modelos:
    m.fit(X_train, y_train)
    print(m, mse(y_test,m.predict(X_test), squared=False))

In [ ]:
from xgboost import XGBRegressor as XGBR

xgbr=XGBR()

xgbr.fit(X_train, y_train)
mse(y_test,xgbr.predict(X_test), squared=False)

In [ ]:
from catboost import CatBoostRegressor as CTR

ctr=CTR()

ctr.fit(X_train, y_train)
mse(y_test,ctr.predict(X_test), squared=False)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor as GBR

gbr=GBR()

gbr.fit(X_train, y_train)
mse(y_test,gbr.predict(X_test), squared=False)

El menor valor:
Ridge() 34250.18734528083